{{!-- logged in user's posts --}}
<div class="row align-center m-3 border">
    {{#each posts as |post|}}
    <div class="m-4 border">
        <div class="border row m-2">
            <header>{{post.title}}</header>
            <p>Posted By: {{post.user.name}} on {{post.createdAt}}</p>
        </div>
        <div>
            <p class="m-2">{{post.entry}}</p>
        </div>
    </div>
    {{/each}}
    <button type="submit" class="btn"><a class="link" href="/dashboard/newPost">+ New Post</a></button>
</div>