<form class="form new-post-form">
  <div class="form-group">
    <label for="post-title">Post Title</label>
    <input class="form-input" type="text" id="post-title" />
  </div>
  <div class="form-group">
    <label for="entry">Entry</label>
    <input class="form-input" type="text" id="entry" />
  </div>
  <button type="submit" class="btn">submit</button>
</form>

<script src="/js/addPost.js"></script>