<form class="row align-center m-3 border comment">
    <div class="m-4 border">
        <div class="border row m-2">
            <div class="col">
                <h2>{{posts.title}}</h2>
                <p>Posted By: {{posts.user.name}} on {{posts.createdAt}}</p>
            </div>
        </div>
        <div>
            <p class="m-2">{{posts.entry}}</p>
        </div>
        <input class="form-input entry" type="text"></input>
        <div>
            <button type="submit">submit</button>
        </div>

    </div>
</form>

<script src='/js/comment.js'></script>